* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background: #063d71;
    max-width: 600px;
    margin: 100px auto;
}

h1 {
    font-size: 60px;
    color: antiquewhite;
    text-align: center;
    line-height: 1;
    padding-bottom: 50px;
}

input {
    width: 85%;
    height: 40px;
    border: 2px solid #0d7de5;
    padding: 10px;
    color: antiquewhite;
    background-color: #4e5f6f;
    outline: none;
    border-radius: 10px;
    
}

input::placeholder{
    color: antiquewhite;
}

button {
    border: none;
    height: 44px;
    color: antiquewhite;
    background-color: #0dc1e5;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #042b4d;
}

button:active {
    background-color: #010d18;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
  background-color: #042b4d;  
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  color: antiquewhite;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

span {
    cursor: pointer;
}